# partition table of {{docker_provision_thinpool_device_name}}
unit: sectors

{{docker_provision_thinpool_device_name}}1 : start=     {{docker_provision_thinpool_partition_offset}}, size={{docker_provision_thinpool_size}}, Id=83
{{docker_provision_thinpool_device_name}}2 : start=        0, size=        0, Id= 0
{{docker_provision_thinpool_device_name}}3 : start=        0, size=        0, Id= 0
{{docker_provision_thinpool_device_name}}4 : start=        0, size=        0, Id= 0
